{% load bootstrap4 %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    {% bootstrap_css %}
    <title>{% block title %}Awesome Todo{% endblock %}</title>
</head>

<body>
    <div class="container">
        {% block content %} {% endblock %}
    </div>
    {% bootstrap_javascript %}
</body>

</html>