{% extends "base.html" %} {% block content %}
<h1>Awesome todo app</h1>

<p>
    <a  class="btn btn-primary" href="{% url 'add-task-2' %}">Tambah task </a>
    <a  class="btn btn-danger" href="{% url 'account_logout' %}">Logout</a>
</p>
<div class="card" style="width: 400px;">
    <div class="card-header">
        Task list
    </div>
    <ul class="list-group list-group-flush">
        {% for task in tasks %}
        <li class="list-group-item">{{ task.name }} - {{ task.created_at|timesince:now }}
            {% if task.description %}
            <p style="font-style: italic"> {{ task.description }}</p>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</div>

{% endblock %}